.spots-display-container {

}

.spots-title-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}


.spot-title {

}

.meta-data-holder {
  display: flex;
  gap: 20px;
}

.gallery-wrapper {
  height: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: #E25959;
}


.delete-spot-button {
  margin-right: 10px;
  background-color: white;
  border: none;
  border-radius: 21px;
  transition: all .2s ease;
  padding: 5px 20px;
  border: 1px solid white;
}

.delete-spot-button:hover {
  color: #E25959;
  border: 1px solid #E25959;
}

.review-container {

}

.single-review-container {
  border: 1px solid #E25959;
  border-radius: 12px;
  padding: 15px;
}
