.spots-display-container {

}

.button-holder {
  padding: 20px;
}
.spots-title-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.spot-title {
  margin: 5px;
}

.meta-data-holder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gallery-wrapper {
  display: flex;
  padding: 20px;
}

.current-spot-image{
  border-radius: 12px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  overflow: hidden;
}

.description-wrapper {
  padding: 20px;
}




.review-container {

}

.single-review-container {
  border: 1px solid #E25959;
  border-radius: 12px;
  padding: 15px;
  margin-top: 10px;
}
