.right-side-navbar-div {
  display: flex;
  justify-content: space-evenly;
}

.demo-button {
  margin-right: 10px;

  background-color: white;
  border: none;
  border-radius: 21px;
  transition: all .2s ease;
  padding: 0px 20px;
  border: 1px solid white
}

.demo-button:hover {
  color: #E25959;
  border: 1px solid #E25959;
}

div.isHidden  {
  visibility: hidden;
}

.profile-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 21px;
  transition: box-shadow 0.2s ease;
  padding: 7px 7px 7px 12px;
  gap: 10px;
}
.profile-button:hover {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);;
}

.dropdown-buttons {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 21px;
  transition: all .2s ease;
  padding: 5px 20px;
  border: 1px solid black;
}

.dropdown-buttons:hover {
  color: #E25959;
  border: 1px solid #E25959;
}


.dropdown-wrapper {
  direction: rtl;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  background-color: white;
  border-radius: 10px;
  top: 100px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  gap: 1.5rem;
  padding: 10px;
}

.bars-icon {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
}

.user-icon {
  color: gray;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.nav-container {
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  max-height: 2.2rem;
}

ul {
  list-style: none;
}

a {
  padding: .5em;
  text-decoration: none;
  color: black;
}

.logo-container-about {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
